.modal-title {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.issue-modal td {
  border: 0;
  padding: 0.2rem 0.75rem;
}

.modal-footer.main-modal-footer {
  padding: 2rem 1rem;
  justify-content: unset;
  align-items: unset;
  display: block;
  text-align: center;
  border: 0;
}

.main-modal-footer .approved-btn {
  background: #0eba58;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px;
  width: 200px;
}
