h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #9b9b9b;
}

h3 {
  font-size: 16px;
}

a.link {
  color: #0057c1;
}

.content-title h1 {
  font-size: 24px;
  line-height: 35px;
  color: #000;
  font-weight: bold;
  margin-bottom: 1.5rem;
  display: inline-block;
}

.content-container {
  padding: 3rem;
  background: #f8f8f8;
}

.overview-box {
  width: 100%;
  height: 150px;
  background: #fff;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 15px 5px #f5f5f5;
  border-radius: 5px;
}

.overview-box.full {
  width: 100%;
  height: 332px;
  font-size: 13px;
}

.circle {
  width: 47px;
  height: 47px;
}

.oval {
  height: 57px;
  width: 57px;
  background: linear-gradient(135deg, #00e0f2 0%, #00bee0 100%);
  border-radius: 50px;
  margin: auto;
}

.header-title-box {
  padding-top: 10px;
  padding-left: 10px;
}

.warning {
  color: #ba0e0e;
  font-weight: bold;
}

.page-search {
  display: initial;
  float: right;
  box-shadow: 0px 0px 15px 0px #f5f5f5;
}

.page-search input {
  padding: 10px 15px;
  font-size: 14px;
  border: 0;
  border-radius: 4px;
  width: 250px;
}

.page-search input::placeholder {
  color: #9b9b9b;
}

table .main-thead th {
  padding: 1.2rem 0 1.2rem 1.5rem;
  border-bottom: 2px solid #eee;
  border-top: 0;
}

.main-table {
  background: #fff;
  box-shadow: 0px 0px 15px 0px #f5f5f5;
}

.table-title h4 {
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem;
  margin: 0;
}

.table-dropdown button {
  padding: 0;
  font-weight: 700;
  font-size: 14px;
}

.table-dropdown button.dropdown-item {
  font-weight: 400;
  padding: 10px;
  border-bottom: 1px solid #d9d9d9;
}

.table-dropdown .dropdown-menu {
  padding-bottom: 0;
}

.issue-list {
  cursor: pointer;
}
